<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="37659MoonmileSolutions.382175E4E6279" Publisher="CN=C5D6FD7A-0F0F-445E-8D70-85339D6E5D63" Version="1.1.0.1" />
  <Properties>
    <DisplayName>アンケート投稿ツール</DisplayName>
    <PublisherDisplayName>Moonmile Solutions</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NetLabEnquete.Windows.App">
      <m2:VisualElements DisplayName="アンケートツクール版投稿ツール" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="アンケートツクールで作成したアンケートの投稿アプリです。.NETラボ勉強会 dotnetlab.net のアンケートで使っています。" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile ShortName="アンケート投稿" Square310x310Logo="Assets\Square310x310Logo.png" Wide310x150Logo="Assets\Wide310x150Logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#005200" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="post-enq">
            <DisplayName>アンケートツクールへ投稿</DisplayName>
          </Protocol>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>